/* base */
body {
  font-family: 'Roboto', Arial;
  background-color: #eee;
}

div {
  background-color: #444;
}

input[type="text"] {
  width: 100%;
  border-radius: 0.25em;
  border: 0 solid transparent;
  padding: 0.75em;
  margin: 0.25em;
}

input[type="button"] {
  margin: 0.25em;
  outline: none;
  border-radius: 0.25em;
  font-weight: 700;
  font-size: 16px;
  width: 10em;
}

input[type="button"].button-activate {
  background-color: #6bc997;
  border-color: #c96b9d;
  color: #6b6ec9;
}

[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

/* layout */
.panel {
  margin: 0;
  width: 95%;
  height: 25em;
  min-width: 31.25em;
  display: flex;
  flex-direction: column;
  border-radius: 0.9375em;
  border: 1px solid transparent;
  margin: 0.625em;
  box-shadow: 0.3125em 0.3125em 1.25em #c96b9d;
}

@media(min-width:700px) and (min-device-width: 700px) {
  .panel {
    width: 50%;
    margin: 10% 25% 0;
  }
}

/* modules */

/* main content area */
.title {
    height: 1.33em;
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    color: #6bc997;
    text-shadow: 0.033em 0.033em #c96b9d;
    border-radius: 0.5em 0.5em 0 0;
    border-bottom: 2px solid #c96b9d;
    padding: 0 0.5em;
}

.main-content-viewport {
  display: flex;
  flex: 1;
  border-radius: 0 0  0.9375em  0.9375em;
  color: #6bc997
}

/* input panel modules */

.user-input-panels {
  flex: 1;
  border-radius: 0 0  0 0.9375em;
  display: flex;
}

.method-input-form {
  padding: 0.3125em;
}

.input-view-content {
  display: flex;
  flex: 1;
  border-radius: 0 0 0 0.9375em;
}

.input-view {
  flex: 1;
}

.inactive-panel {
  display: none;
}

.active-panel {
  display: flex;
  border-radius: 0 0 0 0.9375em;
}

.input-selector {
  flex: 1;
  border-radius: 0 0 0 0.9375em;
}

.input-option {
  height: 3em;
  border-bottom: 1px solid #c96b9d;
  display: flex;
  cursor: pointer;
}

.input-option-text {
  margin: 0.75em 0 0 0.5em;
  font-weight: 700;
  color: #6b6ec9;
  flex: 1;
}

.caret-right {
  width: 0;
  height: 0;
  border: 5px solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #6b6ec9;
  margin-top: 1.1em;
}

.back-button-hidden {
  display: none;
}

.back-button {
  display: flex;
  padding: 9em 0.25em 0 0.25em;
  border: solid #c96b9d;
  border-width: 0 2px 0 0;
  border-radius: 0 0 0 0.9375em;
}

/* input panel modules */
.user-output-panel {
  flex: 1;
  border-left: 2px solid #c96b9d;
  border-radius: 0 0  0.9375em  0;
  overflow-y: auto;
  margin: 0 0.5em 0 0;
}

.result {
    margin: 0.3125em;
    border: 2px solid #c96b9d;
    padding: 0.125em;
    border-radius: 0.3125em;
}

.result-row {
    display: flex;
}

.result-header-column {
    width: 5.625em;
    text-align: right;
    font-weight: 700;
    border-right: 1px solid #c96b9d;
    padding-right: 5%;
}

.result-value-column {
    flex: 1;
    padding-left: 0.3125em;
}
