<div class="input-selector">
  <div class="input-option" ng-click="setView('get-all')">
    <div class="input-option-text">Get me everything</div>
    <div class="caret-right"></div>
  </div>
  <div class="input-option" ng-click="setView('get-one')">
    <div class="input-option-text">Get me one thing</div>
    <div class="caret-right"></div>
  </div>
  <div class="input-option" ng-click="setView('new-item')">
    <div class="input-option-text">Make a new thing</div>
    <div class="caret-right"></div>
  </div>
</div>
